
.product-card{
    min-width: 300px;
    margin: 5px 1px;
}

.text-center {
    text-align: center;
}

.product-button {
    width: 100%;
}

.product-button a {
    text-decoration: none;
    color: #0288d1;
}

.card-img > img {
    top: 1000px;
    width: 300px;
	height: 200px;
    object-fit: cover;
}