header.main-header{
    width: 100%;
    display: flex;
    padding: 10px 25px;
    background-color: #96cab9;
    justify-content: space-between;
    box-shadow: 1px 5px 15px #81818129;
}

.img-header {
    border-radius: 50%;
    width: 100%
}

ul.navMenu {
    list-style: none;
    display: flex;
}

ul.navMenu li {
    margin-right: 15px;
}

nav {
    display: flex;
}

.nav-img {
    width: 70px;
    height: 70px;
}

.profile-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}