.item-count{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.display-count {
    width: 30px;
}

.item-count-button{
    display: flex;
    justify-content: center;
}