.item-count{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 36.5px  ;
}

.display-count {
    width: 30px;
}

.item-count-button{
    display: flex;
    justify-content: center;
}

.item-count-button button{
    width: 220px;
}